body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
	color: $colordark;
}

.slick-slide {
	outline: none !important;
}


.bg {
	&-yellow {
    background: $coloryellow;
  }

  &-pink {
    background: $colorpink;
  }

  &-tiff {
    background: $colortiff;
  }

  &-green {
    background: $colorgreen;
  }
  
  &-blue {
    background: $colorblue;
  }

  &-blue-light {
    background: $colorbluelight;
  }

	&-light {
		background: $colorlight;
	}

  &-darkerlight {
    background: #EBEBEB;
  }

  &-blue-sky {
    background: rgba(163,196,220,.5);
  }

  &-lightbrown {
    background: rgba(201,196,183,.3);
  }

  &-blue-bright {
    background: $colorbluebright;
  }

  &-contactus {
    background: url(../img/banner-contact-form-mobile.jpg) right center no-repeat;
    background-size: cover;

    @media all and (min-width: $min-md) {
      background: url(../img/banner-contact-form.jpg) center no-repeat;
      background-size: cover;
    }
  }

  &-homereshaping {
    background-color: #01121A;

    @media all and (min-width: $min-lg) {
      background: url(../img/reshaping-a-better-tomorrow-bg.jpg) center no-repeat;
      background-size: cover;
    }

    @media all and (min-width: 1440px) {
      height: calc(100vh - 74px);
      min-height: 721px;
    }
  }

  &-homeculture {
    background-color: #01121A;

    @media all and (min-width: $min-lg) {
      background: url(../img/our-culture-bg.jpg) center no-repeat;
      background-size: cover;
    }

    @media all and (min-width: 1440px) {
      height: calc(100vh - 74px);
      min-height: 721px;
    }
  }

  &-synergising {
    background: url(../img/bg-synergising-mobile.jpg) right center no-repeat;
    background-size: cover;

    @media all and (min-width: $min-md) and (max-width: $max-lg) {
      background: url(../img/bg-synergising.jpg) right 46% center no-repeat;
      background-size: cover;
    }

    @media all and (min-width: $min-lg) {
      background: url(../img/bg-synergising.jpg) center no-repeat;
      background-size: cover;
    }

  }

  &-regionalfootprint {
    background-color: #F5F5F5;

    @media all and (min-width: $min-md) {
      background: url(../img/bg-regional-footprint.jpg) center right no-repeat;
      background-size: cover;
      min-height: 540px;
    }

    @media all and (min-width: 1800px) {
      min-height: 620px;
    }
  }

  &-internationalexports {
    background-color: #3E3E3E;

    @media all and (min-width: $min-md) {
      background: url(../img/bg-internationalexport.jpg) center no-repeat;
      background-size: cover;
    }

    @media all and (min-width: 1440px) {
      min-height: 540px;
    }
  }

}

.sect {
	&-spacer {
		padding-top: 50px;
    padding-bottom: 50px;

    @media all and (min-width: $min-md) {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    &.moblarge {
      @media all and (max-width: $max-md) {
        padding-bottom: 80px;
      }
    }
	}

  &-deskspacer {
    @media all and (min-width: $min-md) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &-tabletspacer {
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media all and (min-width: $min-lg) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &-deskspacersm {
    @media all and (min-width: $min-md) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }
  
}

.error-msg {
  margin-top: 5px;
  font-weight: 500;
  color: #EA3019;
  font-size: calc(15px / var(--global-font-size));
}

.iconimgs {
  width: 65px;

  @media all and (min-width: $min-ips) {
    width: 75px;
  }

  @media all and (min-width: $min-1680) {
    width: 85px;
  }
}

.icon{

  &-h30 {
    width: auto;
    height: 30px;
  }

  &-h35 {
    width: auto;
    height: 20px;

    @media all and (min-width: $min-lg) {
      height: 25px;
    }

    @media all and (min-width: $min-1680) {
      height: 30px;
    }
  }

  &-h40 {
    width: auto;
    height: 40px;
  }

  &-h45 {
    width: auto;
    height: 45px;
  }


  &-h50 {
    width: auto;
    height: 50px;
  }

  &-h55 {
    width: auto;
    height: 55px;
  }

  &-h60 {
    width: auto;
    height: 60px;

    @media all and (min-width: $min-lg) {

    }

    @media all and (min-width: $min-1680) {
      
    }
  }

  &-h65 {
    width: auto;
    height: 65px;

    @media all and (min-width: $min-lg) {

    }

    @media all and (min-width: $min-1680) {
      
    }
  }

  &-h70 {
    width: auto;
    height: 55px;

    @media all and (min-width: $min-lg) {
      height: 60px;
    }

    @media all and (min-width: $min-1680) {
      height: 65px;
    }
  }

  &-h75 {
    width: auto;
    height: 60px;

    &.desklarger {
      width: auto;
      height: 70px;
    }

    @media all and (min-width: $min-lg) {
      height: 65px;

      &.desklarger {
        height: 75px;
      }
    }

    @media all and (min-width: $min-1680) {
      height: 70px;

      &.desklarger {
        height: 80px;
      }
    }
  }

  &-h80 {
    width: auto;
    height: 80px;
  }

  &-h85 {
    width: auto;
    height: 85px;
  }

  &-h90 {
    width: auto;
    height: 90px;
  }
}


.col-lg-s5  {
  @media all and (min-width: $min-lg) {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.no-xs-gutters {
  @media all and (max-width: $max-lg) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.p-xs-0 {
  @media all and (max-width: $max-lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.opacity7 {
  opacity: .7;
}

.opacity8 {
  opacity: .8;
}


.shape-radius {
  border: 0;
  // border-top-right-radius: $radiusboradercover;
  // border-bottom-left-radius: $radiusboradercover;
  border-top-right-radius: $radiusboradercoverlg;
  border-bottom-left-radius: $radiusboradercoverlg;
  overflow: hidden;

  @media all and (min-width: $min-lg) {
    border-top-right-radius: $radiusboradercoverlg;
    border-bottom-left-radius: $radiusboradercoverlg;
  }
}



.generalmodal {
  .modal-content {
    border-radius: 0;
    border-top-right-radius: $radiusboradercoverlg;
    border-bottom-left-radius: $radiusboradercoverlg;
  }

  .modal-body {
    padding: 30px 15px 20px;
    position: relative;

    .close-btn {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 35px;
    }

    @media all and (min-width: $min-lg) {
      padding: $radiusboradercoverlg;
    }
  }
}



