footer {
  background: $colorblue;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
	padding-right: 15px;

	@media (min-width: $min-xl) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (min-width: $min-1680) {
		padding-left: 120px;
		padding-right: 120px;
	}

  .foo {
    &-title {
      font-size: calc(19px / var(--global-font-size));
      font-weight: 800;
      margin-bottom: 5px;
    }

    &-list {
      padding-left: 0;
      margin-left: 0;
      list-style: none;

      li {
        font-size: calc(16.5px / var(--global-font-size));
        font-weight: 500;
        color: $colorgrey;

        a {
          display: inline-block;
          color: $colorgrey;
          padding: 4px 0;

          &:hover {
            color: #fff;
          }
        }

        @media (min-width: $min-lg) {
          font-weight: 400;
        }

        // + li {
        //   margin-top: 8px;
        // }

      }
    }

  }

  hr.bordercolor {
    border-top: 1px solid rgba(255,255,255,.5);
  }

  .lastrow {
    font-size: calc(14px / var(--global-font-size));

    @media (min-width: $min-lg) {
      line-height: 1;
    }

    a {
      color: #fff;
      
      @media (min-width: $min-lg) {
        font-weight: 400;
      }
    }

    .innerboder {
      border-color: rgba(255,255,255,.5) !important;

      @media (max-width: $max-lg) {
        border-color: transparent !important;
      }
    }
  }
}