@mixin transition($property: all, $duration: 1.2s, $ease: linear){
	-webkit-transition: $property $duration $ease;
	   -moz-transition: $property $duration $ease;
	     -o-transition: $property $duration $ease;
	        transition: $property $duration $ease;
}
//@include transition(all, 0.2s);


@mixin input_placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
// @include input-placeholder {
//   color: rgba(0,0,0, .4);
// }


@mixin itemrotate($itemrotate) {
  -webkit-transform: rotate($itemrotate);
  -moz-transform: rotate($itemrotate);
  -ms-transform: rotate($itemrotate);
  -o-transform: rotate($itemrotate);
  transform: rotate($itemrotate);
}
//@include itemrotate(90deg);


