.topnavigation{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 15px 0;
  opacity: 1;
  background-color: #fff;
  -webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
	padding-left: 15px;
	padding-right: 15px;

	@media (min-width: $min-xl) {
		padding-left: 40px;
		padding-right: 40px;

		// .continer-fluid {
		// 	max-width: 1100px;
		// 	margin: 0 auto;
		// 	text-align: center;
		// }
	}

	@media (min-width: $min-1680) {
		padding-left: 120px;
		padding-right: 120px;
	}

	.borderheight {
		width: 1px;
		margin: -15px auto;
		height: 65px;
		background-color: rgba($color: #000000, $alpha: .1);
		position: relative;
	}

	a {
		.bevelcorner__inner  {
			font-size: calc(14px / var(--global-font-size));
			padding: 5px 7px;

			@media all and (min-width: 375px) {
				font-size: calc(17px / var(--global-font-size));
				padding: 6px 10px;
			}
		
			@media all and (min-width: $min-lg) {
				font-size: calc(18px / var(--global-font-size));
			}
		}	
	}
	
	
}
.navbar{
	padding: 0;


	.adjustmentnav {
		min-width: 200px;
	}
}
.navbar-brand img{
	height: 36px;
	width: auto;
	display: block;
  -webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
	margin-top: -5px;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 19px;
	background-image: none;
	position: relative;
	border-bottom: 3px solid $colorblue;
    transition: all 300ms linear;

	@media all and (max-width: 320px) {
		width: 19px;
	}

	@media all and (max-width: 375px) {
		width: 21px;
	}
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 3px;
	background-color: $colorblue;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;

		@media all and (max-width: 320px) {
			width: 19px;
		}

		@media all and (max-width: 375px) {
			width: 21px;
		}
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}

.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}

.nav-item.active:hover:after{
	opacity: 0;
}


.nav-item{
	font-size: calc(18px / var(--global-font-size));
	font-weight: 800;
	position: relative;
	transition: all 200ms linear;
}

.nav-item .dropdown-menu {
	transform: translate3d(0, 10px, 0);
	visibility: hidden;
	opacity: 0;
	max-height: 0;
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-left: -30px;
	transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
	opacity: 1;
	visibility: visible;
	max-height: 999px;
	transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 15px 0!important;
	margin: 0;
	font-size: calc(16.5px / var(--global-font-size));
	font-weight: 500;
	background-color: #fff;
	border: none;
	border-radius: $radiusboradercoversm;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	@include transition(all, 0.2s);
	min-width: 170px;

	&.minwidth200 {
		min-width: 200px;
	}

}
.dropdown-toggle::after {
	display: none;
}


.dropdown-toggle {
  ion-icon {
		font-size: calc(22px / var(--global-font-size));
    margin: auto;
    vertical-align: middle;
		@include transition(all, 0.2s);
  }
}


.nav-item.show .dropdown-toggle {
	ion-icon {
		@include itemrotate(180deg);
		@include transition(all, 0.25s);
	}
}

.nav-link{
	color: $colordark !important;
	transition: all 200ms linear;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link{
	color: $colorbluelight !important;
}



.dropdown-item {
	padding: 5px 30px;
	font-weight: 500 !important;
	color: $colordark;

	&.active {
		color: $colorbluelight;
		font-weight: 800 !important;
		background-color: transparent;
	}

	&:hover {
		color: $colorbluelight;
		font-weight: 800 !important;
		background-color: transparent;
	}
}


@media (max-width: $max-xl) { 
	.nav-item:after{
		display: none;
	}
	

  .nav-link {
    width: 100%;
		padding: 10px 0 !important;

    ion-icon {
      float: right;
      margin: 0;
    }
  }
	// .nav-item::before {
	// 	position: absolute;
	// 	display: block;
	// 	top: 15px;
	// 	left: 0;
	// 	width: 11px;
	// 	height: 1px;
	// 	content: "";
	// 	border: none;
	// 	background-color: #000;
	// 	vertical-align: 0;
	// }
	// .dropdown-toggle::after {
	// 	position: absolute;
	// 	display: block;
	// 	top: 10px;
	// 	left: -23px;
	// 	width: 1px;
	// 	height: 11px;
	// 	content: "";
	// 	border: none;
	// 	background-color: #000;
	// 	vertical-align: 0;
	// 	transition: all 200ms linear;
	// }
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		margin: 0 auto !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-item {
		padding: 5px 15px;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 0 !important;
		margin-bottom: 10px !important;
	}
}

@media (max-width: $max-md) {
	.navbar-brand {
		margin-right: 6px;
	}
	.navbar-brand img{
		height: 30px;
		margin-left: -5px;
	}
}

@media (max-width: 375px) {
	.navbar-brand {
		margin-right: 6px;
	}
	.navbar-brand img{
		height: 27px;
		margin-left: -8px;
	}
}


@media (max-width: $max-xs) {
	.navbar-brand img{
		height: 23px;
		margin-left: -10px;
	}
}


main {
	margin-top: 74px;

	@media (max-width: $max-md) {
		margin-top: 64px;
	}
}

