@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

:root {  
  // --main-font-size: 1.85;
  // --sub-font-size: 1.55;
  // --global-font-size: 1.35;
  --main-font-size: 2.2;
  --sub-font-size: 1.75;
  --global-font-size: 1.45;

  --px-corner-8: 7px;

  @media all and (min-width: $min-xs) {
    // --main-font-size: 1.75;
    // --global-font-size: 1.25;
    --main-font-size: 1.8;
    --global-font-size: 1.4;
  }

  @media all and (min-width: $min-ips) {
    // --main-font-size: 1.65;
    // --sub-font-size: 1.55;
    // --global-font-size: 1.23;
    --main-font-size: 1.85;
    --sub-font-size: 1.65;
    --global-font-size: 1.4;
  }
  
  @media all and (min-width: $min-lg) {
    // --main-font-size: 1.35;
    // --sub-font-size: 1.4;
    // --global-font-size: 1.15;
    --main-font-size: 1.85;
    --sub-font-size: 1.75;
    --global-font-size: 1.35;
    --px-corner-8: 9px;
  }

  @media all and (min-width: 1025px) {
    // --main-font-size: 1.5;
    // --sub-font-size: 1.55;
    // --global-font-size: 1.26;
    --main-font-size: 1.63;
    --sub-font-size: 1.57;
    --global-font-size: 1.28;
    --px-corner-8: 9px;
  }

  @media all and (min-width: $min-1366) {
    // --main-font-size: 1.4;
    // --sub-font-size: 1.5;
    --main-font-size: 1.46;
    --sub-font-size: 1.53;
    --global-font-size: 1.25;
  }

  @media all and (min-width: $min-1680) {
    --main-font-size: 1.4;
    --sub-font-size: 1.5;
    --global-font-size: 1.21;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 800;
  font-size: calc(70px / var(--main-font-size));
  line-height: 1.15;

  +p {
    margin-top: 10px;
  }

  &.tiny {
    font-size: calc(48px / var(--main-font-size));
  }

  &.subtiny {
    font-size: calc(58px / var(--main-font-size));
  }

  @media all and (max-width: 640px) {
    font-size: calc(62px / var(--main-font-size));

    &.tiny {
      font-size: calc(46px / var(--main-font-size));
    }
  
    &.subtiny {
      font-size: calc(54px / var(--main-font-size));
    }
  }
}

h3 {
  font-weight: 800;
  font-size: calc(45px / var(--main-font-size));
  line-height: 1.2;

  &.moblarge {

    @media all and (max-width: $max-lg) {
      font-size: calc(45px / var(--sub-font-size));
    }
  }

  +p {
    margin-top: 10px;
  }
}

h4 {
  font-weight: 800;
  font-size: calc(35px / var(--main-font-size));
  line-height: 1.2;

  &.moblarge {

    @media all and (max-width: $max-lg) {
      font-size: calc(35px / var(--sub-font-size));
    }
  }

  +p {
    margin-top: 10px;
  }
}


h5 {
  font-weight: 800;
  font-size: calc(30px / var(--main-font-size));
  line-height: 1.2;

  &.moblarge {

    @media all and (max-width: $max-lg) {
      font-size: calc(32px / var(--sub-font-size));
    }
  }

  +p {
    margin-top: 10px;
  }
}



p {
  font-weight: 400;
  font-size: calc(19px / var(--global-font-size));
  line-height: 1.5;

  @media all and (min-width: $min-lg) {
    line-height: 1.6;
  }

  &.larger {
    font-size: calc(25px / var(--sub-font-size));
    line-height: 1.5;
  }

  &.bannertxt {
    font-weight: 500;
    font-size: calc(25px / var(--sub-font-size));
    line-height: 1.4;

    @media all and (min-width: $min-lg) {
      line-height: 1.3;
    }
  }

  &.bannersublg {
    font-size: calc(28px / var(--main-font-size));
    line-height: 1.2;

    @media all and (min-width: $min-lg) {
      line-height: 1.3;
    }
  }


  &.suptiny {
    font-size: calc(16px / var(--global-font-size));
    line-height: 1.4;

    @media all and (min-width: $min-lg) {
      line-height: 1.5;
    }

    sup {
      font-size: 68%;
    }
  }


  &.tiny {
    font-size: calc(18px / var(--global-font-size));
    line-height: 1.4;

    @media all and (min-width: $min-lg) {
      line-height: 1.5;
    }
  }


  &.sublarger {
    font-size: calc(20px / var(--global-font-size));
    line-height: 1.4;

    &.desklarger {
      @media all and (min-width: $min-lg) {
        font-size: calc(26px / var(--global-font-size));
      }
    }
  }



  &.sub {
    font-weight: 500;
  }
  
  strong {
    font-weight: 800; 
  }
}

.general-check {
  font-weight: 400;
  font-size: calc(19px / var(--global-font-size));
  line-height: 1.3;
  padding-left: 25px;
  
  li {
    list-style-image: url(../img/icon-check.svg);
    padding-top: 2px;
    padding-bottom: 2px;
  } 

  &.tiny {
    font-size: calc(17px / var(--global-font-size));
  }

  &.sub {
    font-weight: 500;
  }
  
  
  strong {
    font-weight: 800; 
  }
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
ion-icon,
a {
  &.text-yellow {
    color: $coloryellow;
  }

  &.text-pink {
    color: $colorpink;
  }

  &.text-tiff {
    color: $colortiff;

    &.g1 {
      color: #00AEC5;
    }
  }

  &.text-green {
    color: $colorgreen;
  }
  
  &.text-blue {
    color: $colorblue;
  }

  &.text-blue-light {
    color: $colorbluelight;
  }

  &.text-white {
    color: #fff;
  }

  &.text-dark {
    color: $colordark;
  }

  &.text-black {
    color: $colorblack;
  }

  @media all and (min-width: $min-lg) {
    &.text-lg-yellow {
      color: $coloryellow;
    }
  
    &.text-lg-pink {
      color: $colorpink;
    }
  
    &.text-lg-tiff {
      color: $colortiff;
    }
  
    &.text-lg-green {
      color: $colorgreen;
    }
    
    &.text-lg-blue {
      color: $colorblue;
    }
  
    &.text-lg-blue-light {
      color: $colorbluelight;
    }
  
    &.text-lg-white {
      color: #fff;
    }

    &.text-lg-dark {
      color: $colordark;
    }
  
    &.text-lg-black {
      color: $colorblack;
    }
  }
}