$max-xs: 320px;
$max-ips: 413.98px;
$max-md: 767.98px;
$max-lg: 991.98px;
$max-xl: 1199.98px;
$max-1340: 1339.98px;
$max-1366: 1366.98px;
$max-1680: 1679.98px;

$min-xs: 321px;
$min-ips: 414px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-1340: 1340px;
$min-1366: 1367px;
$min-1680: 1680px;


//Color
$colorblue: #003E92;
$colorbluelight: #006CFF;
$colorbluebright: #D1E1ED;
$colorgrey: #C7C7C7;
$colorlight: #F5F5F5;
$colordark: #3E3E3E;
$colorblack: #000;
$colorbrown: #C4BEB0;
$coloryellow: #EBCD53;
$colorpink: #FF8DDF;
$colortiff: #00AEC5;
$colorgreen: #00C5A2;


//Radius
$radiusboradercoversm: 10px;
$radiusboradercover: 20px;
$radiusboradercoverlg: 40px;


$textesclipsefs: 15px;
$textesclipsefsmob: 14.5px;
$textlineheight: 1.5;
$textlines-to-show: 2;