
@mixin bevel-corner (
  $background-color: transparent,
  $corner-top-left-bevel: 20px,
  $corner-top-right-bevel: 20px,
  $corner-bottom-right-bevel: 20px,
  $corner-bottom-left-bevel: 20px
  ) {
  background: #{$background-color}; // Fallback
  background: -webkit-linear-gradient(135deg, transparent $corner-top-left-bevel, $background-color $corner-top-left-bevel),
              -webkit-linear-gradient(225deg, transparent $corner-top-right-bevel, $background-color $corner-top-right-bevel), 
              -webkit-linear-gradient(315deg, transparent $corner-bottom-right-bevel, $background-color $corner-bottom-right-bevel),
              -webkit-linear-gradient(45deg, transparent  $corner-bottom-left-bevel, $background-color $corner-bottom-left-bevel);
  background: -moz-linear-gradient(135deg, transparent $corner-top-left-bevel, $background-color $corner-top-left-bevel),
              -moz-linear-gradient(225deg, transparent $corner-top-right-bevel, $background-color $corner-top-right-bevel),
              -moz-linear-gradient(315deg, transparent $corner-bottom-right-bevel, $background-color $corner-bottom-right-bevel),
              -moz-linear-gradient(45deg, transparent  $corner-bottom-left-bevel, $background-color $corner-bottom-left-bevel);
  background: -o-linear-gradient(135deg, transparent $corner-top-left-bevel, $background-color $corner-top-left-bevel),
              -o-linear-gradient(225deg, transparent $corner-top-right-bevel, $background-color $corner-top-right-bevel),
              -o-linear-gradient(315deg, transparent $corner-bottom-right-bevel, $background-color $corner-bottom-right-bevel),
              -o-linear-gradient(45deg, transparent  $corner-bottom-left-bevel, $background-color $corner-bottom-left-bevel);
  background: linear-gradient(135deg, transparent $corner-top-left-bevel, $background-color $corner-top-left-bevel),
              linear-gradient(225deg, transparent $corner-top-right-bevel, $background-color $corner-top-right-bevel),
              linear-gradient(315deg, transparent $corner-bottom-right-bevel, $background-color $corner-bottom-right-bevel),
              linear-gradient(45deg, transparent  $corner-bottom-left-bevel, $background-color $corner-bottom-left-bevel);
  background-position:
      top left,
      top right,
      bottom right,
      bottom left;
  background-size: 50.5% 50.5%;
  background-repeat: no-repeat;
  @content;
}
// @include bevel-corner(#ddd, 0, 20px, 0, 20px);


.bevelboxcover {
  @include bevel-corner($colorblue, 25px, 0, 25px, 0); //bevel at top LEFT bottom RIGHT
  padding: 25px;
  border-radius: 10px;
  font-weight: 800;
  display: inline-block;
  color: #fff;
  width: 100%;

  @media all and (min-width: $min-lg) {
    padding: 30px;
  }

  &.reverse {
    @include bevel-corner($colorblue, 0, 25px, 0, 25px);
  }

  &.singletopleft {
    @include bevel-corner($colorblue, 25px, 0, 0, 0);
    border-radius: 0;
    border-bottom-left-radius: 10px;
  }

  &.singlebtmright {
    @include bevel-corner($colorblue, 0, 0, 25px, 0);
    border-radius: 0;
    border-top-right-radius: 10px;
  }

  &:hover {
    color: #fff;
  }

  &.boxlarge {
    @include bevel-corner($colorblue, 35px, 0, 35px, 0);
    padding: 35px;

    @media all and (min-width: $min-lg) {
      padding: 40px;
    }

    &.reverse {
      @include bevel-corner($colorblue, 0, 35px, 0, 35px);
    }
    
    &.singletopleft {
      @include bevel-corner($colorblue, 35px, 0, 0, 0);
    }
  
    &.singlebtmright {
      @include bevel-corner($colorblue, 0, 0, 35px, 0);
    }

  }

  &.boxtiny {
    @include bevel-corner($colorblue, 10px, 0, 10px, 0);
    padding: 15px;

    @media all and (min-width: $min-lg) {
      padding: 15px;
    }

    &.reverse {
      @include bevel-corner($colorblue, 0, 10px, 0, 10px);
    }  

    &.singletopleft {
      @include bevel-corner($colorblue, 10px, 0, 0, 0);
    }
  
    &.singlebtmright {
      @include bevel-corner($colorblue, 0, 0, 10px, 0);
    }
  }

  &.bg-lightbrown {
    @include bevel-corner($colorbrown, 25px, 0, 25px, 0);
    padding: 25px;

    @media all and (min-width: $min-lg) {
      padding: 30px;
    }
    
    &.reverse {
      @include bevel-corner($colorbrown, 0, 25px, 0, 25px);
    } 

    &.singletopleft {
      @include bevel-corner($colorbrown, 25px, 0, 0, 0);
    }
  
    &.singlebtmright {
      @include bevel-corner($colorbrown, 0, 0, 25px, 0);
    }

    &.boxlarge {
      @include bevel-corner($colorbrown, 35px, 0, 35px, 0);
      padding: 40px;
  
      &.reverse {
        @include bevel-corner($colorbrown, 0, 35px, 0, 35px);
      }  
      
      &.singletopleft {
        @include bevel-corner($colorbrown, 35px, 0, 0, 0);
      }
    
      &.singlebtmright {
        @include bevel-corner($colorbrown, 0, 0, 35px, 0);
      }
    }

    &.boxtiny {
      @include bevel-corner($colorbrown, 10px, 0, 10px, 0);
      padding: 15px;
  
      &.reverse {
        @include bevel-corner($colorbrown, 0, 10px, 0, 10px);
      }  

      &.singletopleft {
        @include bevel-corner($colorbrown, 10px, 0, 0, 0);
      }
    
      &.singlebtmright {
        @include bevel-corner($colorbrown, 0, 0, 10px, 0);
      }
    }


  }
}

//$pxcorner: 8px;



.bevelcorner-solid {
  border-radius: 8px;
  @include bevel-corner($colorbluelight, var(--px-corner-8), 0, var(--px-corner-8), 0);
  padding: 2px;
  font-weight: 800;
  display: inline-block;
  color: #fff;

  .bevelcorner__inner {
    border-radius: 6px;
    @include bevel-corner($colorbluelight, var(--px-corner-8), 0, var(--px-corner-8), 0);
    // padding: 5px 10px;
    padding: 5px 10px;

    @media all and (min-width: $min-ips) {
      padding: 6px 12px;
    }

    @media all and (min-width: 480px) {
      padding: 10px 16px;
    }

    @media all and (min-width: $min-lg) {
      padding: 7px 12px;
    }
  }

  &.reverse {
    color: $colorbluelight;
    @include bevel-corner($colorbluelight, 0, var(--px-corner-8), 0, var(--px-corner-8));

    .bevelcorner__inner {
      color: #fff;
      @include bevel-corner($colorbluelight, 0, var(--px-corner-8), 0, var(--px-corner-8));
    }
  }

  &:hover {
    color: #fff;
    @include bevel-corner($colorbluelight, var(--px-corner-8), 0, var(--px-corner-8), 0);

    .bevelcorner__inner {
      color: $colorbluelight;
      @include bevel-corner(#fff, var(--px-corner-8), 0, var(--px-corner-8), 0);
    }

    &.reverse {
      color: $colorbluelight;
      @include bevel-corner($colorbluelight, 0, var(--px-corner-8), 0, var(--px-corner-8));

      .bevelcorner__inner {
        color: $colorbluelight;
        @include bevel-corner(#fff, 0, var(--px-corner-8), 0, var(--px-corner-8));
      }
    }
  }
}






.bevelcorner-outline {
  border-radius: 8px;
  @include bevel-corner($colorbluelight, var(--px-corner-8), 0, var(--px-corner-8), 0);
  padding: 2px;
  font-weight: 800;
  display: inline-block;
  color: $colorbluelight;


  .bevelcorner__inner {
    border-radius: 6px;
    @include bevel-corner(#fff, var(--px-corner-8), 0, var(--px-corner-8), 0);
    //padding: 5px 10px;
    padding: 5px 10px;

    @media all and (min-width: $min-ips) {
      padding: 6px 12px;
    }

    @media all and (min-width: 480px) {
      padding: 10px 16px;
    }

    @media all and (min-width: $min-lg) {
      padding: 7px 12px;
    }
  }

  &.reverse {
    color: $colorbluelight;
    @include bevel-corner($colorbluelight, 0, var(--px-corner-8), 0, var(--px-corner-8));

    .bevelcorner__inner {
      @include bevel-corner(#fff, 0, var(--px-corner-8), 0, var(--px-corner-8));
    }
  }

  &:hover {
    color: #fff;
    @include bevel-corner($colorbluelight, var(--px-corner-8), 0, var(--px-corner-8), 0);

    .bevelcorner__inner {
      @include bevel-corner($colorbluelight, var(--px-corner-8), 0, var(--px-corner-8), 0);
    }

    &.reverse {
      color: $colorbluelight;
      @include bevel-corner($colorbluelight, 0, var(--px-corner-8), 0, var(--px-corner-8));

      .bevelcorner__inner {
        color: #fff;
        @include bevel-corner($colorbluelight, 0, var(--px-corner-8), 0, var(--px-corner-8));
      }
    }
  }
}

.bevelcorner__inner.lefticon {
  padding-left: 40px;
}

.bevelcorner-solid,
.bevelcorner-outline {
  
  position: relative;

  ion-icon {
    font-size: 14px;
    position: absolute;
    top: 48%;
    transform: translateY(-48%);
    right: 12px;

    @media all and (min-width: $min-lg) {
      font-size: 15px;
    }

    &.lefticon {
      left: 12px;
      right: auto;
    }
  }
  
 

  &:focus {
    outline: none;
  }

  &.minwidth {
    min-width: 145px;

    @media all and (min-width: $min-lg) {
      min-width: 160px;
    }
  }

  &.minwidthlg {
    min-width: 175px;

    @media all and (min-width: $min-xs) {
      min-width: 180px;
    }
  }

  &.minwidthsuplg {
    min-width: 254px;

    @media all and (min-width: 415px) {
      min-width: 250px;
    }
  }

  .bevelcorner__inner  {
    text-align: left;

    font-size: calc(17px / var(--global-font-size));

    @media all and (min-width: $min-lg) {
      font-size: calc(15px / var(--global-font-size));
    }
  }


}


