a {
  &:hover {
    text-decoration: none;
  }


  &.nostyle {
    line-height: 1.2;
    vertical-align: middle;
    font-size: calc(18px / var(--global-font-size));

    ion-icon {
      vertical-align: middle;
      margin-top: -1.2px;
      font-size: calc(19px / var(--global-font-size));
    }
  }

  &.textonly {
    font-weight: 700;
    color: $colorbluelight;
    vertical-align: middle;
    font-size: 12px;

    ion-icon {
      vertical-align: middle;
      margin-top: -1.4px;
      font-size: 13px;
    }

    @media all and (min-width: $min-1366) {
      font-size: 14px;

      ion-icon {
        font-size: 15px;
      }
    }
  }
}

div {
  &.textonly {
    font-weight: 700;
    color: $colorbluelight;
    vertical-align: middle;
    font-size: 12px;

    ion-icon {
      vertical-align: middle;
      margin-top: -1.4px;
      font-size: 13px;
    }

    @media all and (min-width: $min-1366) {
      font-size: 14px;

      ion-icon {
        font-size: 15px;
      }
    }
  }
}

.availablesizes {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 -2px;

  @media all and (min-width: $min-lg) {
    margin: 0 0 0 -5px;
  }

  li {
    background: $colortiff;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 12px;
    line-height: 1;
    min-width: 90px;
    text-transform: uppercase;
    font-size: calc(18.5px / var(--global-font-size));
    font-weight: 800;
    border-radius: 60px;
    margin: 2px;
    
    @media all and (min-width: $min-xs) {
      min-width: 105px;
    }

    @media all and (min-width: $min-lg) {
      padding: 14px;
      min-width: 130px;
      margin: 5px;
      font-size: calc(19px / var(--global-font-size));
    }
  }
}


textarea {
  resize: none;
}

button {
  outline: 0;
  border: 0;
}


form {
  
  .form {
    &-control {
      font-weight: 500;
      font-size: calc(18px / var(--global-font-size));
      border: 0;
      padding: 12px 13px;
      height: auto;
      appearance: none;
      -webkit-appearance: none;
      border-radius: $radiusboradercoversm;
      color: $colorblack;

      &:focus {
        outline: none !important;
        border: 0;
        box-shadow: none !important;
      }

      @include input-placeholder {
        color: rgba($colorblue, .5);
      }

      @media all and (min-width: $min-md) {
        padding: 15px 15px;
      }

    }
  }

  select.form-control:invalid {
    color: rgba($colorblue, .5);
    background: url(../img/arrow-down-light.svg) #fff no-repeat;
    background-position: calc(100% - 14px) 50%;
    background-size: 18px;
    @media all and (min-width: $min-md) {
      background-size: 16px;
    }
  }

  select {
    padding-right: 30px;
    background: url(../img/arrow-down.svg) #fff no-repeat;
    background-position: calc(100% - 14px) 50%;
    background-size: 18px;
    @media all and (min-width: $min-md) {
      background-size: 16px;
    }
  }

}




.genericstyle {
  select.form-control:invalid {
    background: url(../img/arrow-down.svg) #fff no-repeat;
    background-position: calc(100% - 14px) 50%;
    background-size: 18px;
    @media all and (min-width: $min-md) {
      background-size: 16px;
    }
  }

  select {
    padding-right: 30px;
    background: url(../img/arrow-down.svg) #fff no-repeat;
    background-position: calc(100% - 14px) 50%;
    background-size: 18px;
    @media all and (min-width: $min-md) {
      background-size: 16px;
    }
  }

  .form {
    &-control {
      font-weight: 500;
      font-size: calc(18px / var(--global-font-size));
      border: 0;
      padding: 12px 13px;
      height: auto;
      appearance: none;
      -webkit-appearance: none;
      border-radius: $radiusboradercoversm;
      color: $colorblue;

      &:focus {
        outline: none !important;
        border: 0;
        box-shadow: none !important;
      }

      @include input-placeholder {
        color: rgba($colorblue, 1);
      }

      @media all and (min-width: $min-md) {
        padding: 15px 15px;
      }

    }
  }
}