header {
  position: relative;
  height: auto;
  overflow: hidden;

  .brandslider {
    .slick-track { display: flex !important; }
    .slick-slide { height: inherit !important; }

    p.bannertxt {
      @media all and (min-width: $min-lg) {
        padding-bottom: 30px;
      }
    }
  }

  .mainslider,
  .brandslider {
    width: 100%;
    height: 100%;
    position: relative;

    &-item {
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 460px;

      @media (min-width: $min-xs) {
        min-height: 485px;
      }

      @media (min-width: $min-ips) {
        min-height: 520px;
      }

      @media all and (min-width: 560px) and (max-width: $max-lg) {
        min-height: 488px;
      }

      @media (min-width: 767px) and (max-width: 991.98px) {
        min-height: 860px !important;
      }

      &.bannergoodday {
        background-image: url(../img/goodday-banner-mobile.jpg);
      }

      &.bannercalpis {
        background-image: url(../img/calpis-banner-mobile.jpg);

        @media all and (min-width: 560px) and (max-width: $max-lg) {
          background-image: url(../img/calpis-banner-tablets.jpg);
        }
      }

      &.bannerwonda {
        background-image: url(../img/wonda-banner-mobile.jpg);
        background-position: center;

        @media all and (min-width: 560px) and (max-width: $max-lg) {
          background-image: url(../img/wonda-banner-tablets.jpg);
        }
      }

      &.bannerwonda2 {
        background-image: url(../img/wonda-banner-2-mobile.jpg);
        background-position: center;

        @media all and (min-width: 560px) and (max-width: $max-lg) {
          background-image: url(../img/wonda-banner-2tablets.jpg);
        }
      }

      &.bannerdairychamp {
        background-image: url(../img/dairychamp-banner-mobile.jpg);
      }

      &.bannercontactus {
        background-image: url(../img/banner-contactus-mobile.jpg);
        background-position: center;
      }

      &.bannercareer {
        background-image: url(../img/bg-career-mobile.jpg);
        background-position: center;
      }

      &.bannerourbrands {
        background-image: url(../img/bg-our-brands-mobile.jpg);
        background-position: center;
      }

      &.bannerpresence {
        background-image: url(../img/bg-ourpresence-mobile.jpg);
        background-position: center;
      }

      &.bannerwhoweare {
        background-image: url(../img/bg-who-we-are-mobile.jpg);
        background-position: center;
      }

      &.bannersustainability {
        background-image: url(../img/bg-sustainability-mobile.jpg);
        background-position: center;
      }

      &.bannersustainability-environment {
        background-image: url(../img/bg-environment-mobile.jpg);
        background-position: center;
      }

      &.bannersustainability-people {
        background-image: url(../img/bg-people-mobile.jpg);
        background-position: center;
      }

      &.bannersustainability-health {
        background-image: url(../img/bg-health-mobile.jpg);
        background-position: center;
      }

      &.bannersustainability-community {
        background-image: url(../img/bg-community-mobile.jpg);
        background-position: center;
      }

      &.bannernews {
        background-image: url(../img/news-banner-mobile.jpg);
        background-position: center;
      }

      &.bannernewsinnergoodday {
        background-image: url(../img/news-inner-banner-mobile.jpg);
        background-position: center;
      }

      @media (min-width: $min-md) {
        //height: calc(80vh - 74px);
        height: calc(75vh - 74px);
      }

      @media (min-width: $min-lg) {
        background-position: center;
        //min-height: 500px;
        min-height: 510px;

        &.bannergoodday {
          background-image: url(../img/goodday-banner.jpg);
        }

        &.bannercalpis {
          background-image: url(../img/calpis-banner.jpg);
        }

        &.bannerwonda {
          background-image: url(../img/wonda-banner.jpg);
        }

        &.bannerwonda2 {
          background-image: url(../img/wonda-banner-2.jpg);
        }

        &.bannerdairychamp {
          background-image: url(../img/dairychamp-banner.jpg);
        }

        &.bannercontactus {
          background-image: url(../img/banner-contactus.jpg);
        }

        &.bannercareer {
          background-image: url(../img/bg-career.jpg);
          background-position: center;
        }


        &.bannerourbrands {
          background-image: url(../img/bg-our-brands.jpg);
          background-position: center;
        }

        &.bannerpresence {
          background-image: url(../img/bg-ourpresence.jpg);
          background-position: center;
        }

        &.bannerwhoweare {
          background-image: url(../img/bg-who-we-are.jpg);
          background-position: center;
        }

        &.bannersustainability {
          background-image: url(../img/bg-sustainability.jpg);
          background-position: center;
        }

        &.bannersustainability-environment {
          background-image: url(../img/bg-environment.jpg);
          background-position: center;
        }

        &.bannersustainability-people {
          background-image: url(../img/bg-people.jpg);
          background-position: center;
        }

        &.bannersustainability-health {
          background-image: url(../img/bg-health.jpg);
          background-position: center;
        }

        &.bannersustainability-community {
          background-image: url(../img/bg-community.jpg);
          background-position: center;
        }

        &.bannernews {
          background-image: url(../img/news-banner.jpg);
          background-position: center;
        }

        &.bannernewsinnergoodday {
          background-image: url(../img/news-inner-banner.jpg);
          background-position: center;
        }
      }


      @media all and (min-width: $min-1366) {
        //min-height: 580px;
        min-height: 540px;
      }

      /* iPad Pro */
      /* Portrait */
      @media only screen
      and (min-width: 1024px)
      and (max-height: 1366px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 1.5) {
        height: auto;
        //min-height: 500px;
        min-height: 460px;
      }

    }


    &-content {
      padding-bottom: 40px;
      padding-top: 30px;

      @media all and (min-width: $min-xs) {
        padding-right: 20px;
      }

      @media all and (min-width: $min-md) {
        padding-bottom: 50px;
        padding-right: 90px;
      }

      @media all and (min-width: $min-lg) {
        padding-top: 0;
        //padding-bottom: 100px;
        padding-bottom: 80px;
      }

      @media all and (min-width: $min-1366) {
        //padding-bottom: 130px;
        padding-bottom: 80px;
      }

      @media all and (min-width: $min-1680) {
        //padding-bottom: 160px;
        //padding-bottom: 100px;
        padding-right: 0;
      }

      @media only screen
      and (min-width: 1024px)
      and (max-height: 1366px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 1.5) {
        padding-bottom: 150px;
      }

      h2 {
        margin-bottom: 20px;
      }
    }

    // &-placeholder {
    //   height: 50vh;

    //   @media all and (min-width: $min-xs) {
    //     height: 47vh;
    //   }

    //   @media all and (min-width: $min-ips) {
    //     height: 44vh;
    //   }

    //   @media all and (min-width: $min-md) {
    //     height: 50vh;
    //   }

    //   @media all and (min-width: $min-lg) {
    //     display: none;
    //     height: 0;
    //   }
    // }


    &-placeholder {
      height: 45vh;

      @media all and (min-width: $min-xs) {
        height: 45vh;
      }

      @media all and (min-width: $min-ips) {
        height: 42vh;
      }

      @media all and (min-width: $min-md) {
        height: 45vh;
      }

      @media all and (min-width: $min-lg) {
        display: none;
        height: 0;
      }
    }


    &-placeholdersmaller {
      height: calc(45vh / 2);

      @media all and (min-width: $min-xs) {
        height: calc(45vh / 2);
      }

      @media all and (min-width: $min-ips) {
        height: calc(42vh / 2);
      }

      @media all and (min-width: $min-md) {
        height: calc(45vh / 2);
      }

      @media all and (min-width: $min-lg) {
        display: none;
        height: 0;
      }
    }


  }



  .mainslider {
    width: 100%;
    height: 100%;
    position: relative;


    &-item {
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100vh - 63px);
      min-height: 460px;

      @media (min-width: $min-xs) {
        min-height: 485px;
      }

      @media (min-width: $min-ips) {
        min-height: 520px;
      }

      @media (min-width: 1440px) {
        height: calc(90vh - 63px);
      }

      @media (min-width: 1500px) {
        height: calc(80vh - 63px);
      }


      &.slider01 {
        background-image: url(../img/mainbanner-01-mobile.jpg);
      }

      &.slider02 {
        background-image: url(../img/mainbanner-02-mobile.jpg);
      }

      &.slider03 {
        background-image: url(../img/mainbanner-03-mobile.jpg);
      }

      @media (min-width: $min-lg) {
        background-position: center;
        min-height: calc(100vh - 74px);

        &.slider01 {
          background-image: url(../img/mainbanner-01.jpg);
        }

        &.slider02 {
          background-image: url(../img/mainbanner-02.jpg);
        }

        &.slider03 {
          background-image: url(../img/mainbanner-03.jpg);
        }
      }

      @media all and (min-width: 560px) and (max-width: $max-lg) {
        height: calc(75vh - 63px);
        background-position: top center;

        &.slider01 {
          background-image: url(../img/mainbanner-01.jpg);
        }

        &.slider02 {
          background-image: url(../img/mainbanner-02.jpg);
        }

        &.slider03 {
          background-image: url(../img/mainbanner-03.jpg);
        }

        .mainslider-content {
          padding-bottom: 90px;
        }
      }


      @media (min-width: 1440px) {
        min-height: calc(90vh - 74px);
      }

      @media (min-width: 1500px) {
        min-height: calc(80vh - 74px);
      }


      /* iPad Pro */
      /* Portrait */
      @media only screen
      and (min-width: 1024px)
      and (max-height: 1366px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 1.5) {
        height: auto;
        min-height: 460px;
      }

    }


    &-placeholder {
      height: 45vh;

      @media all and (min-width: $min-xs) {
        height: 45vh;
      }

      @media all and (min-width: $min-ips) {
        height: 42vh;
      }

      @media all and (min-width: $min-md) {
        height: 45vh;
      }

      @media all and (min-width: $min-lg) {
        display: none;
        height: 0;
      }
    }


  }


  /* ----------- iPad Pro ----------- */
  /* Landscape */
  @media only screen
  and (min-device-width: 1366px)
  and (max-device-height: 1024px)
  // and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation: landscape) {
    .mainslider-item {
      min-height: 590px !important;
      height: 590px !important;
    }
  }


  @media only screen
  and (min-device-width: 1180px)
  and (max-device-height: 820px)
  // and (-webkit-min-device-pixel-ratio: 1.5)
  and (orientation: landscape) {
    .mainslider-item {
      min-height: 530px !important;
      height: 530px !important;
    }
  }
}
