//ICONS

.imgicon {
  &-international {
    height: 40px;
  }
}


.brands {

  &-logoimg {
    background-color: #fff;
    max-width: 280px;
    padding: 15px;
    margin: 0 auto 30px;
    border-radius: $radiusboradercoverlg;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;

    // @media all and (min-width: 560px) and (max-width: $max-lg) {
    //   max-width: 375px !important;
    // }

    img {
      width: 80%;
      max-width: 170px;
      margin: 0 auto !important;
      
      @media all and (min-width: $min-xs) and (max-width: 640px) {
        width: 100%;
        margin: 0 auto;
        max-width: 180px;
      }

      @media all and (min-width: $min-lg) {
        width: 90%;
        max-width: 180px;
      }

      @media all and (min-width: $min-1366) {
        width: 95%;
        max-width: 185px;
      }

      @media all and (min-width: $min-1680) {
        width: 100%;
      }
    }

    @media all and (min-width: $min-lg) {
      padding: 25px;
    }

    &.largerwidth {
      max-width: 100%;
    }
  }

  &-logoimg2 {
    background-color: #fff;
    text-align: center;
    padding: 0;
    margin: 0 auto 30px;
    border-radius: $radiusboradercoverlg;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;

    @media all and (min-width: 560px) and (max-width: $max-lg) {
      max-width: 375px;
    }

    img {
      // width: 100%;
      // max-width: 280px;
      margin: 0 auto;
      height: 160px;

      @media all and (min-width: $min-xs) {
        height: 185px;
      }

      @media all and (min-width: $min-ips) {
        height: 200px;
      }

      @media all and (min-width: $min-md) {
        height: 230px;
      }
    }

    &.calpisthumb {
      background: url(../img/calpis-images-thumbnails.jpg) center no-repeat;
      background-size: cover;
      height: 160px;

      @media all and (min-width: $min-xs) {
        height: 185px;
      }

      @media all and (min-width: $min-ips) {
        height: 200px;
      }

      @media all and (min-width: $min-md) {
        height: 230px;
      }
    }

    &.calpisthumblogo {
      background: url(../img/logo-calpis2.jpg) center no-repeat;
      background-size: cover;
      height: 160px;

      @media all and (min-width: $min-xs) {
        height: 185px;
      }

      @media all and (min-width: $min-ips) {
        height: 200px;
      }

      @media all and (min-width: $min-md) {
        height: 230px;
      }
    }

    &.dairychampthumb {
      background: url(../img/dairychamp-images-thumbnails.jpg) left center no-repeat;
      background-size: cover;
      height: 160px;

      @media all and (min-width: $min-xs) {
        height: 185px;
      }

      @media all and (min-width: $min-ips) {
        height: 200px;
      }

      @media all and (min-width: $min-md) {
        background: url(../img/dairychamp-images-thumbnails.jpg) center no-repeat;
        height: 230px;
      }
    }

    &.dairychampthumblogo {
      background: url(../img/logo-dairychamp2.jpg) center no-repeat;
      background-size: cover;
      height: 160px;

      @media all and (min-width: $min-xs) {
        height: 185px;
      }

      @media all and (min-width: $min-ips) {
        height: 200px;
      }

      @media all and (min-width: $min-md) {
        height: 230px;
      }
    }

    &.wondathumb {
      background: url(../img/wonda-images-thumbnails.jpg) center no-repeat;
      background-size: cover;
      height: 160px;

      @media all and (min-width: $min-xs) {
        height: 185px;
      }

      @media all and (min-width: $min-ips) {
        height: 200px;
      }

      @media all and (min-width: $min-md) {
        height: 230px;
      }
    }

    &.wondathumblogo {
      background: url(../img/logo-wonda2.jpg) center no-repeat;
      background-size: cover;
      height: 160px;

      @media all and (min-width: $min-xs) {
        height: 185px;
      }

      @media all and (min-width: $min-ips) {
        height: 200px;
      }

      @media all and (min-width: $min-md) {
        height: 230px;
      }
    }


    &.gooddaythumb {
      background: url(../img/goodday-images-thumbnails.jpg) center no-repeat;
      background-size: cover;
      height: 160px;

      @media all and (min-width: $min-xs) {
        height: 185px;
      }

      @media all and (min-width: $min-ips) {
        height: 200px;
      }

      @media all and (min-width: $min-md) {
        height: 230px;
      }
    }

    &.gooddaythumblogo {
      background: url(../img/logo-goodday2.jpg) center no-repeat;
      background-size: cover;
      height: 160px;

      @media all and (min-width: $min-xs) {
        height: 185px;
      }

      @media all and (min-width: $min-ips) {
        height: 200px;
      }

      @media all and (min-width: $min-md) {
        height: 230px;
      }
    }

    &.largerwidth {
      max-width: 100%;
    }
  }


  &-content {

    // @media all and (min-width: $min-1366) {
    //   p {
    //     //width: 93%;
    //   }
    // }

    p + p{
      margin-top: 35px;
    }
  }
  
}


.linebetween {
  border-top: 1px solid rgba(255,255,255,.4);

  @media all and (min-width: $min-lg) {
    border-top: 0;
    border-left: 1px solid rgba(255,255,255,.4);
  }
}




// .prodimgcover {
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;

//   img {
//     text-align: center;
//     margin: 0 auto;
//     padding: 20px 10px;
//     max-height: 50vh;

//     @media all and (min-width: $min-md) {
//       max-height: 60vh;
//     }
//   }
// }


.productimgs {
  padding: 0;
  margin: 1rem 0 0;

  @media all and (max-width: $min-md) {
    img {
      max-width: 380px;
      margin: 0 auto;
    }
  }
}


.enriching-content {
  img {
    width: auto;
    height: 62px;
    
    @media all and (min-width: $min-ips) {
      // height: 88px;
      height: 70px;
    }

    @media all and (min-width: $min-1680) {
      height: 75px;
    }
  }
}


.ourbrands {
  &-item {
    .brands-logoimg {
      // width: 100%;
      // max-width: 100%;
      // margin-left: 0;

      @media all and (max-width: $max-md) {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        padding: 15px 30px;
      }

      @media all and (min-width: $min-md) {
        // width: 90%;
        // margin-left: 0;
      }
    }

    @media all and (max-width: $min-md) {
      
    }
    
  }
}


img {
  &.careerimgs {
    max-width: 100%;

    @media all and (min-width: $min-xl) {
      width: 280px;
      max-width: 100%;
    }
  
    @media all and (min-width: $min-1680) {
      width: 300px;
      max-width: 100%;
    }
  
    @media all and (max-width: 540px) {
      width: 100%;
      max-width: auto;
    }
  }
}


section {
  position: relative;

  &.slideroverhide {
    overflow: hidden;
  }
}




.leadership {

  &-thumbnail {
    width: 188px;
    max-width: 100%;

    @media all and (min-width: $min-xl) {
      width: 195px;
    }

    @media all and (min-width: $min-1680) {
      width: 215px;
    }

    @media all and (max-width: $max-ips) {
      width: 175px;
    }
  }

  &-cover {
    position: relative;
    //background: pink;
    margin-bottom: 40px;    

    @media all and (max-width: $max-md) {
      max-width: 400px;
      margin: 0 auto 40px;
    }
  }

  &-caption {
    //background: yellow;
    text-align: right;
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 0;
    padding-left: 20%;

    @media all and (max-width: $max-ips) {
      padding-left: 16%;
    }
  }


}


.sustainable {
  &-cover {
    position: relative;
    border: 0;
    border-radius: 0 !important;
    border-top-right-radius: $radiusboradercoverlg !important;
    border-bottom-left-radius: $radiusboradercoverlg !important;
    overflow: hidden;

    .card-img-overlay {
      top: auto !important;
    }

    @media all and (max-width: $max-md) {
      margin-top: 15px;
      margin-bottom: 15px;
      
    }
  }

  &-caption {
    padding-left: 5px;
    padding-right: 5px;

    p.suptiny {
      min-height: calc(26px * 2);
      font-size: 14px;
      line-height: 1.4;
    }

    a.textonly {
      font-size: 14px;
    }

    p.suplarger {
      font-size: calc(31px / var(--sub-font-size));
      line-height: 1.5;

      @media all and (max-width: $max-1366) {
        font-size: calc(28px / var(--sub-font-size));
      }

    }
  }
}


.slideralignleft {
  .slick-track {
    margin: 0;
  }
}



.newslisting {

  .card {
    overflow: hidden;
    border: 0;
    border-radius: $radiusboradercoverlg;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    &-header,
    &-footer {
      background: transparent;
      border: 0;
    }

    &-header {
      padding-top: 20px;
      padding-bottom: 0;

      .badge-primary {
        background: $colorblue;
        border-radius: 8px;
        padding: 5px 16px;
        text-transform: uppercase;
        font-size: 11px;

        @media all and (max-width: $max-1366) {
          border-radius: 8px;
          padding: 6px 16px;
          font-size: 10px;
        }
      }
  
      .date {
        margin: 0 auto;
        text-align: left;
        font-size: 13px;
        font-weight: 600;

        @media all and (max-width: $max-1366) {
          font-size: 12px;
        }
        
      }
    }

    &-footer {
      padding-top: 0;
      padding-bottom: 30px;

      a {
        color: $colorbluelight;
        vertical-align: middle;
        line-height: 1;
        font-size: 14px;
        font-weight: 600;

        ion-icon {
          font-size: 115%;
          vertical-align: middle;
          margin-left: 4px;
          margin-top: -1.5px;
        }

        @media all and (max-width: $max-1366) {
          font-size: 13px;
        }
      }
      
    }

    &-title {
      font-size: calc(28px / var(--sub-font-size));
      line-height: 1.4;
      margin-bottom: 0;

      @media all and (max-width: $max-md) {
        //font-size: calc(28px / var(--sub-font-size));
      }
    }

    

    &-text {
      display: block;
      display: -webkit-box;
      height: $textesclipsefs*$textlineheight*$textlines-to-show;
      font-size: $textesclipsefs;
      line-height: $textlineheight;
      -webkit-line-clamp: $textlines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media all and (max-width: $max-md) {
        height: $textesclipsefsmob*$textlineheight*$textlines-to-show;
        font-size: $textesclipsefsmob;
      }
    }
  }

  .card-img-top {
    border-radius: $radiusboradercoverlg;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}


.sect_news {
  h3 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  p + p {
    margin-top: 30px;
  }
}

.groupceo img {

  @media all and (min-width: $min-xl) {
    width: 250px;
    max-width: 100%;
  }

  @media all and (min-width: $min-1680) {
    width: 260px;
    max-width: 100%;
  }

  @media all and (max-width: 540px) {
    width: 100%;
    max-width: auto;
  }
}


.whowerareimg {
  
  @media all and (min-width: $min-md) and (max-width: $max-lg) {
    max-width: 55vw;
    margin: 0 auto;
  }

  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    max-width: 62vw;
    margin: 0 auto;
  }

}