$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: red !default;
$slick-dot-color: #fff !default;
$slick-arrow-color-grey: $colorgrey !default;
$slick-dot-color-grey: $colorgrey !default;
$slick-dot-color-active: $colorbluelight !default;
$slick-prev-character: "" !default;
$slick-next-character: "" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.ourbrands2row {

  @media all and (min-width: 560px) and (max-width: $max-lg) {
    margin: 0;
  }
  
}

.ourbrands2row,
.generalslider {
  /* Dots */
  &.slick-dotted.slick-slider {
    margin-bottom: 0px;
  }

  .slick-dots {
    position: absolute;
    bottom: 10px;
    list-style: none;
    display: block;
    text-align: left;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    margin-left: 10px;

    @media (min-width: $min-ips) {
      bottom: 15px;
    }

    @media all and (min-width: 576px) {
      position: relative;
      margin-top: -25px;
      max-width: 540px;
      margin-left: auto;
    }

    @media all and (min-width: $min-md) {
      //bottom: 20px;
      max-width: 720px;
    }

    @media all and (min-width: $min-lg) {
      max-width: 960px;
    }

    @media all and (min-width: $min-xl) {
      max-width: 1140px;
    }

    li {
        position: relative;
        display: inline-block;
        height: auto;
        width: auto;
        margin: 0;
        padding: 5px 0;
        cursor: pointer;
        @media all and (min-width: 576px) {
          margin: 0 4px;
        }
        button {
            border: 0;
            color: transparent;
            display: block;
            height: 2.5px;
            width: 24px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            background: $slick-dot-color;
            padding: 2.5px;
            margin: 0 5px;
            cursor: pointer;
            -webkit-transform: skew(-45deg);
                    transform: skew(-45deg);

            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            &:before {
              display: none;
            }

            @media all and (min-width: 576px) {
              width: 38px;
            }
        }
        &.slick-active button,
        &.slick-active button:before {
            color: transparent;
            background: $slick-dot-color-active;
            opacity: 1;
        }
    }

    > li:only-child {
        opacity: 0;
        cursor: default;
    }
  }


  &.assestgrey {
    .slick-dots {
      li {
          button {
              background: $slick-dot-color-grey;
          }

          &.slick-active button,
          &.slick-active button:before {
              color: transparent;
              background: $slick-dot-color-active;
              opacity: 1;
          }
      }
    }
  }




  /* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 26px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
      content: "";
      background-size: contain;
      background-repeat: no-repeat;

      &.slick-disabled {
        cursor: default;
      }
    }
    &.slick-disabled {
      opacity: .3;
    }

    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
      display: none;
    }

    @media all and (min-width: $min-md) {
      height: 30px;
      width: 20px;
    }
}

.slick-prev {
    left: -30px;
    background-image: url(../img/arrow-prev.svg);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    &:hover, &:focus {
        background-image: url(../img/arrow-prev.svg);
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        &:before {
          display: none;
        }
    }
    &:before {
       display: none;
    }

    @media all and (min-width: $min-md) {
      left: -34px;
    }
}

.slick-next {
    right: -30px;
    background-image: url(../img/arrow-next.svg);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    &:hover, &:focus {
        background-image: url(../img/arrow-next.svg);
        background-position: right center;
        background-size: contain;
        background-repeat: no-repeat;
        &:before {
          display: none;
        }
    }
    &:before {
      display: none;
    }

    @media all and (min-width: $min-md) {
      right: -34px;
    }
}

}


.mainslider {
  /* Dots */
  &.slick-dotted.slick-slider {
    margin-bottom: 0px;
  }

  .slick-dots {
    position: absolute;
    bottom: 10px;
    list-style: none;
    display: block;
    text-align: left;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    margin-left: 10px;

    @media (min-width: $min-ips) {
      bottom: 15px;
    }

    @media all and (min-width: 576px) {
      position: relative;
      margin-top: -35px;
      max-width: 540px;
      margin-left: auto;
    }

    @media all and (min-width: $min-md) {
      //bottom: 20px;
      max-width: 720px;
    }

    @media all and (min-width: $min-lg) {
      max-width: 960px;
    }

    @media all and (min-width: $min-xl) {
      max-width: 1140px;
    }

    li {
        position: relative;
        display: inline-block;
        height: auto;
        width: auto;
        margin: 0 3px;
        padding: 5px 0;
        cursor: pointer;
        @media all and (min-width: 576px) {
          margin: 0 4px;
        }
        button {
            border: 0;
            color: transparent;
            display: block;
            height: 2.5px;
            width: 32px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            background: $slick-dot-color;
            padding: 2.5px;
            margin: 0 5px;
            cursor: pointer;
            -webkit-transform: skew(-45deg);
                    transform: skew(-45deg);

            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            &:before {
              display: none;
            }

            @media all and (min-width: 576px) {
              width: 38px;
            }
        }
        &.slick-active button,
        &.slick-active button:before {
            color: transparent;
            background: $slick-dot-color-active;
            opacity: 1;
        }
    }

    > li:only-child {
        opacity: 0;
        cursor: default;
    }
  }

}


.titlebrandslider {
  @include bevel-corner(#fff, 15px, 0, 15px, 0);
  border-radius: 6px;
  padding: 8px 6px;
  margin: 0 auto;

    &-item {
      text-align: center;
      
      .titlecover {
        margin: 0 6px;
        @include bevel-corner(transparent, 13px, 0, 13px, 0);
        line-height: 1.1;
        padding: 10px;
        border-radius: 6px;
        font-weight: 800;
        position: relative;
        height: auto;
        min-height: 50px;
        text-align: center;

        span {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 90%;
          margin: 0 auto;
          text-align: center;
          font-weight: 800;
          font-size: calc(18px / var(--global-font-size));
        }

        &:hover {
          cursor: pointer;
          @include bevel-corner($colorlight, 13px, 0, 13px, 0);
        }

        @media all and (min-width: $min-md) {
          &.active {
            color: #fff;
            @include bevel-corner($colortiff, 13px, 0, 13px, 0);
          } 
        }
      }

      &.slick-current {
        @media all and (max-width: $max-md) {
          .titlecover {
            color: #fff;
            @include bevel-corner($colortiff, 13px, 0, 13px, 0);
          }
        }
      }
    }

}

.crossellslider {
  .slick-track{
    margin-left: 0;
  }

  .productimgs {
    margin-bottom: 35px;

    img {
      width: 55% !important;

      @media all and (min-width: $min-md) {
        width: 60% !important;
        max-width: 160px;
      }
    }
  }

  p {
    width: 100%;
    line-height: 1.2;
    font-weight: 800;
    text-align: center;
    font-size: calc(39px / var(--main-font-size));
    margin: 0 auto;
    min-height: 70px;

    @media all and (min-width: $min-md) {
      font-size: calc(28px / var(--main-font-size));
      width: 82%;
      text-align: left;
      margin-left: 0;
    }

    @media all and (min-width: $min-1680) {
      min-height: 90px;
    }
  }

  
  text-align: center;

  @media all and (min-width: $min-md) {
    text-align: left;
  }
}

.productimgs {
  padding: 0;
  margin: 1rem 0 0;

  @media all and (max-width: $min-md) {
    img {
      max-width: 380px;
      margin: 0 auto;
    }
  }
}